{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} LOGGIN {% endblock title %}

{% block pagetitle %} 
     Login
{% endblock pagetitle %}


{% block content %}

	<div id="banner-area">
		<img src="{% static 'images/banner/banner5.png' %}" alt ="" />
		<div class="parallax-overlay"></div>

	</div><!-- Banner area end -->


  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="m-5">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                  <img class="loggin" src=""></img>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bem Vindo!</h1>
                  </div>
                  <form class="user" method="post" >
                     {% csrf_token %}
                    
                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}
                    
                      {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                    
                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}
                    
                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="form-control is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control" %}
                          {% endif %}
                    
                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}
                                                
                                
                   
                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                    <hr>
                    
                  </form>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>

    </div>

  </div>



{% endblock content %}